[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_URL = "https://review-system-api.onrender.com/api"

[context.deploy-preview.environment]
  VITE_API_URL = "https://review-system-api.onrender.com/api"
